<a href="https://colab.research.google.com/github/msaeedmt/Fintech/blob/master/Q4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)

In [79]:
import numpy as np
import yfinance as yf
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
from math import sqrt
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder

In [80]:
def get_historical_klines_with_efficiancy_rate(symbol, start, interval):
  ticker = yf.Ticker(symbol)
  df = ticker.history(start=start,interval=interval)
  df.drop(['Dividends','Stock Splits'], axis=1, inplace=True)
  df['efficiency_rate'] = ((df['Close']-df['Open'])/df['Open']) * 100
  return df

In [81]:
start="2017-01-01"
interval="1d"
btc_df = get_historical_klines_with_efficiancy_rate("BTC-USD", start, interval)

kmeans = KMeans(n_clusters=3)
btc_df["Cluster"] = kmeans.fit_predict(btc_df[['efficiency_rate']])
btc_df["Cluster"] = btc_df["Cluster"].astype("category")
btc_df

,Open,High,Low,Close,Volume,efficiency_rate,Cluster
Date,,,,,,,
2017-01-01,963.658020,1003.080017,958.698975,998.325012,147775008,3.597437,1
2017-01-02,998.617004,1031.390015,996.702026,1021.750000,222184992,2.316503,0
2017-01-03,1021.599976,1044.079956,1021.599976,1043.839966,185168000,2.176976,0
2017-01-04,1044.400024,1159.420044,1044.400024,1154.729980,344945984,10.563956,1
2017-01-05,1156.729980,1191.099976,910.416992,1013.380005,510199008,-12.392691,2
...,...,...,...,...,...,...,...
2022-04-22,40525.863281,40777.757812,39315.417969,39740.320312,28011716745,-1.938374,0
2022-04-23,39738.722656,39935.859375,39352.203125,39486.730469,16138021249,-0.634123,0
2022-04-24,39478.375000,39845.925781,39233.539062,39469.292969,17964398167,-0.023005,0
2022-04-25,39472.605469,40491.753906,38338.378906,40458.308594,35445730570,2.497183,0
2022-04-26,40482.257812,40661.953125,38013.453125,38308.550781,33692434432,-5.369530,2

In [82]:
btc_df['lag_1'] = btc_df['Cluster'].shift(1)
btc_df['lag_2'] = btc_df['Cluster'].shift(2)
btc_df['lag_3'] = btc_df['Cluster'].shift(3)
btc_df['lag_4'] = btc_df['Cluster'].shift(4)
btc_df.dropna(inplace=True)
btc_df

,Open,High,Low,Close,Volume,efficiency_rate,Cluster,lag_1,lag_2,lag_3,lag_4
Date,,,,,,,,,,,
2017-01-05,1156.729980,1191.099976,910.416992,1013.380005,510199008,-12.392691,2,1,0,0,1
2017-01-06,1014.239990,1046.810059,883.943970,902.200989,351876000,-11.046597,2,2,1,0,0
2017-01-07,903.487000,908.585022,823.556030,908.585022,279550016,0.564261,0,2,2,1,0
2017-01-08,908.174988,942.723999,887.249023,911.198975,158715008,0.332974,0,0,2,2,1
2017-01-09,913.244019,913.685974,879.807007,902.828003,141876992,-1.140551,0,0,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...
2022-04-22,40525.863281,40777.757812,39315.417969,39740.320312,28011716745,-1.938374,0,0,0,0,0
2022-04-23,39738.722656,39935.859375,39352.203125,39486.730469,16138021249,-0.634123,0,0,0,0,0
2022-04-24,39478.375000,39845.925781,39233.539062,39469.292969,17964398167,-0.023005,0,0,0,0,0
2022-04-25,39472.605469,40491.753906,38338.378906,40458.308594,35445730570,2.497183,0,0,0,0,0
2022-04-26,40482.257812,40661.953125,38013.453125,38308.550781,33692434432,-5.369530,2,0,0,0,0

In [83]:
cols_to_use = []
for i in range(1,5):
  cols_to_use.append('lag_{}'.format(i))

X = btc_df[cols_to_use]
y = btc_df.Cluster

In [89]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1)

In [90]:
y_train_enc = pd.get_dummies(y_train)
y_test_enc = pd.get_dummies(y_test)

OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(X_train))
OH_cols_valid = pd.DataFrame(OH_encoder.transform(X_test))

In [91]:
model = Sequential()
model.add(Dense(12, input_dim=12, activation='relu'))
model.add(Dense(8 ,activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(3, activation='softmax'))

model.compile(loss='categorical_crossentropy', optimizer='sgd', metrics=['accuracy','AUC'])

model.fit(OH_cols_train, y_train_enc, epochs=50, batch_size=64)

_, accuracy,auc = model.evaluate(OH_cols_valid, y_test_enc)
print('\nAccuracy: %.2f' % (accuracy*100))
print('AUC: %.2f' % (auc*100))

Epoch 1/50
28/28 [==============================] - 3s 7ms/step - loss: 0.9676 - accuracy: 0.6686 - auc: 0.7615
Epoch 2/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8878 - accuracy: 0.6726 - auc: 0.7639
Epoch 3/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8646 - accuracy: 0.6726 - auc: 0.7739
Epoch 4/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8574 - accuracy: 0.6726 - auc: 0.7772
Epoch 5/50
28/28 [==============================] - 0s 5ms/step - loss: 0.8547 - accuracy: 0.6726 - auc: 0.7781
Epoch 6/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8530 - accuracy: 0.6726 - auc: 0.7792
Epoch 7/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8523 - accuracy: 0.6726 - auc: 0.7797
Epoch 8/50
28/28 [==============================] - 0s 5ms/step - loss: 0.8515 - accuracy: 0.6726 - auc: 0.7798
Epoch 9/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8507 - accuracy: 0.6726 - auc: 0.7814
Epoch 10/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8503 - accuracy: 0.6726 - auc: 0.7827
Epoch 11/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8498 - accuracy: 0.6726 - auc: 0.7827
Epoch 12/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8495 - accuracy: 0.6726 - auc: 0.7839
Epoch 13/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8493 - accuracy: 0.6726 - auc: 0.7845
Epoch 14/50
28/28 [==============================] - 0s 5ms/step - loss: 0.8489 - accuracy: 0.6726 - auc: 0.7849
Epoch 15/50
28/28 [==============================] - 0s 5ms/step - loss: 0.8485 - accuracy: 0.6726 - auc: 0.7859
Epoch 16/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8482 - accuracy: 0.6726 - auc: 0.7867
Epoch 17/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8480 - accuracy: 0.6726 - auc: 0.7864
Epoch 18/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8478 - accuracy: 0.6726 - auc: 0.7872
Epoch 19/50
28/28 [==============================] - 0s 5ms/step - loss: 0.8474 - accuracy: 0.6726 - auc: 0.7877
Epoch 20/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8474 - accuracy: 0.6726 - auc: 0.7883
Epoch 21/50
28/28 [==============================] - 0s 5ms/step - loss: 0.8471 - accuracy: 0.6726 - auc: 0.7886
Epoch 22/50
28/28 [==============================] - 0s 7ms/step - loss: 0.8471 - accuracy: 0.6726 - auc: 0.7879
Epoch 23/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8469 - accuracy: 0.6726 - auc: 0.7883
Epoch 24/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8467 - accuracy: 0.6726 - auc: 0.7887
Epoch 25/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8467 - accuracy: 0.6726 - auc: 0.7889
Epoch 26/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8465 - accuracy: 0.6726 - auc: 0.7891
Epoch 27/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8464 - accuracy: 0.6726 - auc: 0.7895
Epoch 28/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8463 - accuracy: 0.6726 - auc: 0.7891
Epoch 29/50
28/28 [==============================] - 0s 5ms/step - loss: 0.8461 - accuracy: 0.6726 - auc: 0.7898
Epoch 30/50
28/28 [==============================] - 0s 5ms/step - loss: 0.8459 - accuracy: 0.6726 - auc: 0.7900
Epoch 31/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8458 - accuracy: 0.6726 - auc: 0.7897
Epoch 32/50
28/28 [==============================] - 0s 4ms/step - loss: 0.8460 - accuracy: 0.6726 - auc: 0.7892
Epoch 33/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8457 - accuracy: 0.6726 - auc: 0.7894
Epoch 34/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8455 - accuracy: 0.6726 - auc: 0.7902
Epoch 35/50
28/28 [==============================] - 0s 2ms/step - loss: 0.8454 - accuracy: 0.6726 - auc: 0.7902
Epoch 36/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8454 - accuracy: 0.6726 - auc: 0.7899
Epoch 37/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8452 - accuracy: 0.6726 - auc: 0.7900
Epoch 38/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8452 - accuracy: 0.6726 - auc: 0.7900
Epoch 39/50
28/28 [==============================] - 0s 2ms/step - loss: 0.8450 - accuracy: 0.6726 - auc: 0.7900
Epoch 40/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8451 - accuracy: 0.6726 - auc: 0.7900
Epoch 41/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8448 - accuracy: 0.6726 - auc: 0.7904
Epoch 42/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8448 - accuracy: 0.6726 - auc: 0.7898
Epoch 43/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8449 - accuracy: 0.6726 - auc: 0.7897
Epoch 44/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8447 - accuracy: 0.6726 - auc: 0.7897
Epoch 45/50
28/28 [==============================] - 0s 2ms/step - loss: 0.8446 - accuracy: 0.6726 - auc: 0.7899
Epoch 46/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8444 - accuracy: 0.6726 - auc: 0.7905
Epoch 47/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8445 - accuracy: 0.6726 - auc: 0.7902
Epoch 48/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8444 - accuracy: 0.6726 - auc: 0.7907
Epoch 49/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8443 - accuracy: 0.6726 - auc: 0.7902
Epoch 50/50
28/28 [==============================] - 0s 3ms/step - loss: 0.8442 - accuracy: 0.6726 - auc: 0.7906
7/7 [==============================] - 0s 3ms/step - loss: 0.8170 - accuracy: 0.7062 - auc: 0.7891

Accuracy: 70.62
AUC: 78.91